nav{
 

}
nav li{
margin: 2px 0;
}
.active-menu {
    background-color: #3498db; /* Change to the desired style */
    color: white;
   
  }
.logo{
    padding: 25px 12px 16px;
    margin-bottom: 19px;
    height: 92px;
}
.logo svg{
height: 100%;
width: auto;
}
.logo a{
    width: 100%;
   
}
nav span{
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
}