

nav li{
margin: 2px 0;
}
.redtext{
color:red
}
.displayblock{
    display: block!important;
}
.displaynone{
    display: none!important;
}
.active-menu {
    background-color: #3498db; /* Change to the desired style */
    color: white;
   
  }
  .font700{
    font-weight: 700;
  }
.logo{
    padding: 25px 12px 16px;
    margin-bottom: 19px;
    height: 92px;
}
.logo svg{
height: 100%;
width: auto;
}
.logo a{
    width: 100%;
   
}
nav span{
    font-size: 20px;
    line-height: 20px;
}
.navbarsmall{
    width: 91px;
    transition: all 0.3s ease; 
  
}
.align__justify__center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbarsmall__remove{
    
    transition: all 0.3s ease; 
  
}
